# python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables / secrets
.env

# SQLite database files
*.db

# macOS
.DS_Store

# IDE/editor
.vscode/
.idea

# Flask instance folder
instance/




