{% extends "base.html" %}

<!-- User login page -->
{% block title %}Log in{% endblock %}

<!-- Login page content -->
{% block contents %}

<form method="POST">

    <h3 align="center">Log in</h3>

    <!-- Credentials submitted to backend via POST -->
    <div class="form-group">
        <label for="username">Username</label>
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter Username"
        />
        <!-- "name" is passed to backend to be compiled -->
    </div>
    
    <div class="form-group">
        <label for="password1">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter Password"
        />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

