{% extends "base.html" %}

<!-- User register page -->
{% block title %}Register{% endblock %}

<!-- Registration page content -->
{% block contents %}

<form method="POST">

    <h3 align="center">Register</h3>

    <!-- Account credentials submitted to backend via POST -->
    <div class="form-group">
        <label for="username">Username</label>
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter Username"
        />
    </div>
    
    <div class="form-group">
        <label for="password1">Password</label>
        <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter Password"
        />
    </div>
    
    <!-- Password confirmation field -->
    <div class="form-group">
        <label for="password2">Password (confirm)</label>
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Re-enter Password"
        />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

